.m-footer {
	position: absolute;
	bottom: 0;
	left: 1em;
	right: 1em;
	background: rgba(0,0,0,.7);
	color: #fff;
	border-radius: $default-border-radius $default-border-radius 0 0;

	padding: 1em;

	.m-footer--link {
		display: inline-block;
		color: #fff;
		text-decoration: none;
		padding: 0 .5em;
		border-right: 1px solid #fff;
		transition: color 150ms ease-out;

		&:first-of-type { padding: 0 .5em 0 0; }
		&:last-of-type { padding: 0 0 0 .5em; border-right: none; }

		&:hover {
			text-decoration: underline;
			color: #6a0f5a;
		}
	}
}