.m-preview-container {
	display: none;
	position: relative;
	margin: $default-margin;
	user-select: none;
	background: #555;

	width: 100%;
	overflow: auto;
	border-radius: 10px;

	.m-preview-container--touch-help {
		display: none;
		position: absolute;
		top: 50%;
		left: 480px;
		font-size: 100px;
		transform: translate(-50%, -50%);
		color: #fff;
		text-shadow: 5px 5px 5px rgba(0,0,0,.5);
	}

	.m-preview {
		width: 960px;

		&.m-preview_portrait {
			width: unset;
			height: 960px;

			.m-preview--areas {
				left: 50%;
				transform: translateX(-50%);
			}

			.m-preview--image {
				width: unset;
				margin: auto;
			}
		}

		.m-preview--areas {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 960px;
			height: 100%;

			.m-preview--areas--area {
				position: absolute !important;
				border: 1px solid rgba(0,0,0,.5);
				border-radius: 5px;
				cursor: move;

				.m-preview--areas--area--image-container {
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					width: 100%;
					height: 100%;
					overflow: hidden;
					@media screen\0 { background: rgba(0,0,0,.7); }

					.m-preview--areas--area--image-container--image {
						position: absolute;
						top: -15px;
						left: -15px;
						width: calc(100% + 30px);
						height: calc(100% + 30px);
						filter: blur(10px);
						@media screen\0 { display: none; }
					}
				}

				.m-preview--areas--area--remove {
					position: absolute;
					top: -20px;
					right: -20px;
					width: 40px;
					height: 40px;
					z-index: 100;
					color: #fff;
					text-decoration: none;
					background: rgba(0, 0, 0, 0.8);
					border: solid 1px #fff;
					border-radius: 50%;
					text-align: center;
					line-height: 1;
					font-size: 20px;
					cursor: pointer;
				}
			}
		}

		.m-preview--image {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}