.m-page-content {
	background: rgba(255, 255, 255, .9);
	margin: $default-margin;
	padding: 1em;
	border-radius: $default-border-radius;
	box-shadow: 0 0 5px rgba(0,0,0,.5);

	word-break: break-word;

	h1, h2, h3, h4, p {
		margin: 1em 0 0 0;
	}

	h1, h2, h3, h4 {
		font-weight: bold;
	}

	h1 { font-size: 1.6em; border-bottom: solid 1px #aaa; }
	h2 { font-size: 1.3em; }
	h3 { font-size: 1.1em; }
	h4 { font-size: 1em; }

	a {
		color: $default-contrast-color;
		text-decoration: underline;
		transition: color 150ms ease-out;

		&:hover {
			color: #555;
		}
	}

	table {
		width: 100%;
		border-collapse: collapse;
		margin: 1em 0 0 0;

		tr {
			&:nth-child(odd) {
				background: rgba(0,0,0,.1);
			}

			th, td {
				padding: .5em;
				text-align: center;
			}

			th {
				background: rgba(0,0,0,.5);
				color: #fff;
				font-weight: normal;
			}

			td {
				img {
					width: 100%;
					max-width: 400px;
				}

				&[align="right"]:first-of-type {
					background: rgba(0,0,0,.5);
					color: #fff;
					font-weight: normal;
				}
			}
		}
	}
}