.m-progress {
	display: none;
	position: relative;
	width: 100%;
	height: 40px;
	margin: $default-margin;
	margin-bottom: 70px;
	border: 2px solid #fff;
	border-radius: $default-border-radius;
	overflow: hidden;
	font-size: 1.5em;

	user-select: none;

	.m-progress--label {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
		transform: translate(-50%, -50%);
		background: rgba(0, 0, 0, .3);
		color: #fff;
		padding: .5em 1em;
		border: solid 1px #fff;
		border-radius: 5px;
		font-size: .5em;
		min-width: 110px;
		text-align: center;
	}

	.m-progress--bar {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 0;
		background: $default-contrast-color;
		transition: width 200ms ease-out;

		@keyframes bar-animation {
			0% {
				background-position-x: -106px;
			}
			100% {
				background-position-x: 0;
			}
		}

		&.m-progress--bar_indeterminate {
			width: 100% !important;
			background: repeating-linear-gradient(145deg, transparent 0, transparent 30px, $default-contrast-color 30px, $default-contrast-color 60px) no-repeat;
			background-size: 200% 40px;
			background-position-x: -106;
			animation: bar-animation 1s infinite;
			animation-timing-function: linear;
			transition: none;
		}
	}
}