#startButton {
	display: none;
	margin: $default-margin;
	margin-bottom: 70px;
	width: 100%;
	border: 2px solid #fff;
	border-radius: $default-border-radius;
	height: 40px;
	background: transparent;
	text-transform: uppercase;

	font-size: 1.5em;
	font-weight: bold;
	color: #fff;

	&:hover {
		background: #aaa;
		color: #333;
		cursor: pointer;
	}

	&:disabled {
		opacity: .5;
		cursor: default;
	}
}