#startButton {
	display: none;
	margin: $default-margin;
	width: 100%;
	border: 2px solid #fff;
	border-radius: $default-border-radius;
	height: 40px;
	background: transparent;
	text-transform: uppercase;

	font-size: 1.5em;
	font-weight: bold;
	color: #fff;

	user-select: none;

	transition: border-color 300ms ease-out, background-color 300ms ease-out, color 300ms ease-out;

	&:hover {
		// background: #aaa;
		// color: #333;
		cursor: pointer;
		color: $default-contrast-color;
		border-color: $default-contrast-color;
		background: rgba(255, 255, 255, .6);
	}

	&:disabled {
		opacity: .5;
		cursor: default;
	}
}