.m-settings {
	display: none;
	position: fixed;
	left: -255px;
	top: 0;
	z-index: 2;
	width: 250px;
	height: 100%;
	background: rgba(0, 0, 0, .9);
	box-shadow: 5px 0 5px rgba(0,0,0,.5);
	transition: left 250ms ease-out;
	padding: 40px 1em 1em 1em;

	&.m-settings_is-visible {
		left: 0;

		.m-settings--toggle {
			right: 0;
			border-radius: 0;
			box-shadow: none;
			background: none;

			.m-settings--toggle--cogs { display: none; }
			.m-settings--toggle--x { display: inline; }
		}
	}

	.m-settings--toggle {
		position: absolute;
		right: -60px;
		top: 0;
		width: 60px;
		height: 60px;
		background: rgba(0, 0, 0, .8);
		box-shadow: 5px 0 5px rgba(0,0,0,.5);
		text-align: center;
		line-height: 60px;
		font-size: 1.5em;
		text-decoration: none;
		color: #ddd;
		border-radius: 0 0 10px 0;

		&:hover {
			color: #fff;
		}

		.m-settings--toggle--cogs { display: inline; }
		.m-settings--toggle--x { display: none; }
	}
}