// Libraries
// -- FontAwesome
@import "_lib/_fontawesome/_fontawesome";
@import "_lib/_fontawesome/_solid";

// -- jQuery UI + Mods
@import "_lib/_jquery-ui/jquery-ui.min.css";
@import "_lib/_jquery-ui/jquery-ui.structure.min.css";
@import "_lib/_jquery-ui/jquery-ui.theme.min.css";
@import "_lib/_jquery-ui/mods";

// Fonts
@import "_config/fonts";

// Mixins
@import "_mixins/responsive";

// Variables
$default-margin: 1em 0 0 0;
$default-border-radius: 10px;
$default-font-size: 16px;
$default-font-color: #000;

// Styles
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
	font-size: $default-font-size;
	color: $default-font-color;
}

body {
	background: url(/assets/img/title.jpg) no-repeat fixed top right;
	background-size: contain;
	@include on-medium { background-size: cover; }
}

// Modules
@import "_modules/m-settings";
@import "_modules/m-language";
@import "_modules/m-constraint";
@import "_modules/m-headline";
@import "_modules/m-title";
@import "_modules/m-upload";
@import "_modules/m-preview";
@import "_modules/m-mode";
@import "_modules/m-progress";
@import "_modules/m-start-button";
@import "_modules/m-download";
@import "_modules/m-page-content";
@import "_modules/m-footer";