@import "_mixins/responsive";

$default-margin: 1em 0 0 0;
$default-border-radius: 10px;
$default-font-size: 16px;
$default-font-color: #000;

* {
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: $default-font-size;
	color: $default-font-color;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: url(/assets/img/title.jpg) top right no-repeat;

	background-size: contain;
	@include on-medium { background-size: cover; }
}

.m-constraint {
	position: relative;
	width: 100%;
	max-width: 960px;
	min-height: 100%;

	padding: 1em;
	margin: auto;
}

.m-headline {
	display: none;
}

.m-title {
	max-width: 100%;
}

.m-upload {
	position: relative;
	border: 5px dashed #666;
	border-radius: $default-border-radius;
	text-align: center;
	margin: $default-margin;
	background: rgba(255,255,255,.8);

	.m-upload--text {
		font-size: 2em;
		color: #666;

		&.m-upload--text_small {
			font-size: 1em;
		}
	}

	#uploadform {
		height: 0;

		#imageFile {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			width: 100%;
			height: 100%;

			opacity: 0;
			cursor: pointer;
		}
	}
}

.m-preview {
	display: none;
	position: relative;
	margin: $default-margin;
	user-select: none;
	background: #555;

	.m-preview--shadow {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 0;
		height: 0;
		backface-visibility: hidden;
		pointer-events: none;

		background: rgba(0,0,0,.3);
		border: 1px solid #333;
		border-radius: 5px;
	}

	.m-preview--areas {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;

		.m-preview--areas--area {
			position: absolute;
			border: 1px solid rgba(0,0,0,.5);
			border-radius: 5px;
			overflow: hidden;
			cursor: no-drop;

			.m-preview--areas--area--image {
				position: absolute;
				top: -15px;
				left: -15px;
				z-index: 1;
				width: calc(100% + 30px);
				height: calc(100% + 30px);
				filter: blur(10px);
			}

			.m-preview--areas--area--remove {
				position: absolute;
				top: 0;
				right: 0;
				z-index: 2;
				color: #aaa;
				text-decoration: none;
				background: rgba(0, 0, 0, 0.5);
				border-radius: 0 0 0 50%;
				width: 20px;
				height: 20px;
				text-align: center;
				line-height: 20px;
			}
		}
	}

	.m-preview--image {
		display: block;
		width: 100%;
	}
}

.m-mode {
	display: none;
	margin: $default-margin;

	label {

	}

	#mode {
		width: 100%;
		height: 40px;
		border: 2px solid #aaa;
		border-radius: $default-border-radius;
		padding: .5em 1em;
		margin: .5em 0 0 0;
		font-weight: bold;
	}
}

.m-progress {
	display: none;
	position: relative;
	width: 100%;
	height: 40px;
	margin: $default-margin;
	border: 2px solid #aaa;
	border-radius: $default-border-radius;
	overflow: hidden;

	.m-progress--bar {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 0;
		background: #6786ff;
		transition: width 200ms ease-out;
	}
}

.m-download {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1;
	width: 90%;
	max-width: 960px;
	transform: translate(-50%, -50%);
	background: rgba(0,0,0,.8);
	border-radius: $default-border-radius;
	padding: 2em;

	.m-download--close {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		color: #fff;
		text-decoration: none;
		font-size: 20px;
		line-height: 40px;
		text-align: center;
	}

	.m-download--content {
		background: #fff;
		border-radius: $default-border-radius;
		padding: 1em;

		img {
			display: block;
			border: none;
			width: 100%;
		}
	}
}

#startButton {
	display: none;
	margin: $default-margin;
	width: 100%;
	border: 2px solid #aaa;
	border-radius: $default-border-radius;
	height: 40px;
	background: #fff;
	text-transform: uppercase;
	margin-bottom: 70px;

	font-size: 1.5em;
	font-weight: bold;
	color: #aaa;

	&:hover {
		background: #aaa;
		color: #333;
	}
}

.m-page-content {
	background: rgba(255, 255, 255, .9);
	margin: $default-margin;
	margin-bottom: 60px;
	padding: 1em;
	border-radius: $default-border-radius;
	box-shadow: 0 0 5px rgba(0,0,0,.5);

	h2 { font-size: 1.4em }
	h3 { font-size: 1.3em }
	h4 { font-size: 1.2em }
}

.m-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,.7);
	color: #fff;

	padding: 1em;

	.m-footer--link {
		display: inline-block;
		color: #fff;
		text-decoration: none;
		padding: 0 .5em;
		border-right: 1px solid #fff;

		&:first-of-type { padding: 0 .5em 0 0; }
		&:last-of-type { padding: 0 0 0 .5em; border-right: none; }

		&:hover {
			text-decoration: underline;
		}
	}
}