$color--canvas-background_light: #fff;
$color--canvas-background_dark: #ccc;
$color--background: #191919;
$color--menus: #343434;
$color--menus_hover: #444;
$color--menus_mobile_hover: #555;

$menu--height: 24px;
$menu--height_mobile: 40px;
$status-bar--height: 24px;