@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/fira-sans/FiraSans-Regular.ttf'); /* IE9 Compat Modes */
	src: url('../fonts/fira-sans/FiraSans-Regular.ttf') format('truetype')
}

@font-face {
	font-family: 'Fira Sans Italic';
	src: url('../fonts/fira-sans/FiraSans-Italic.ttf'); /* IE9 Compat Modes */
	src: url('../fonts/fira-sans/FiraSans-Italic.ttf') format('truetype')
}

@font-face {
	font-family: 'Fira Sans Bold';
	src: url('../fonts/fira-sans/FiraSans-Bold.ttf'); /* IE9 Compat Modes */
	src: url('../fonts/fira-sans/FiraSans-Bold.ttf') format('truetype')
}