@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/fira-sans/FiraSans-Regular.ttf'); /* IE9 Compat Modes */
  src: url('../assets/fonts/fira-sans/FiraSans-Regular.ttf') format('truetype')
}

$color--canvas-background_light: #fff;
$color--canvas-background_dark: #ccc;
$color--background: #191919;
$color--menus: #343434;
$color--menus_hover: #444;

$menu--height: 24px;
$status-bar--height: 24px;

* {
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: 'Fira Sans', 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  cursor: default;
  overflow: hidden;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    background: $color--background;
    color: #0f5262;

    .background--help {
      position: absolute;
      left: 20px;
      bottom: 50px;
    }
  }

  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;

    .canvas--container {
      position: absolute;
      // Position is calculated by JS
      width: 640px;
      height: 480px;

      background-color: $color--canvas-background_light;
      background-image: linear-gradient(45deg, $color--canvas-background_dark 25%, transparent 25%),
      linear-gradient(-45deg, $color--canvas-background_dark 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, $color--canvas-background_dark 75%),
      linear-gradient(-45deg, transparent 75%, $color--canvas-background_dark 75%);

      background-size: 12px 12px;
      background-position: 0 0, 0 6px, 6px -6px, -6px 0px;

      box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);

      #brushOutline {
        display: none;
        position: absolute;
        // Position is calculated by JS
        pointer-events: none;
      }

      .canvas--container--image {
        width: 100%;
        height: 100%;
      }
    }
  }

  .tools {
    position: absolute;
    left: 10px;
    top: 50px;
    z-index: 300;

    background: $color--menus;

    border-radius: 5px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);

    .tools--title {
      background: linear-gradient(to bottom, #212121 0%, #181818 100%);
      border-radius: 5px 5px 0 0;
      text-align: center;
      padding: .25em;
      font-size: .8em;
    }

    .tools--list {
      list-style: none;
      padding: .5em;
      margin: 0;

      .tools--list--tool {
        margin: 0;
        padding: .5em;
        text-align: center;

        border-radius: 5px;

        &.is-active,
        &:hover {
          background: $color--menus_hover;
        }
      }
    }
  }

  .tool-settings {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $color--menus;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    min-width: 250px;
    height: 2em;
    z-index: 205;

    .tool-settings--slider {
      .tool-settings--slider--icon_left {

      }

      .tool-settings--slider--icon_right {

      }

      .tool-settings--slider--rail {
        position: absolute;
        left: .5em;
        right: .5em;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% - 1em);
        height: .5em;
        border-radius: 5px;
        background: linear-gradient(to bottom, #333 0%, #555 50%, #333 100%);
        box-shadow: 1px 1px 2px rgba(0,0,0,.5) inset;

        .tool-settings--slider--rail--knob {
          position: absolute;
          left: 23%; // Will be set by JS
          top: 50%;
          transform-origin: 50% 50%;
          transform: translateY(-50%);
          width: 1.5em;
          height: 1.5em;

          border-radius: 100%;
          background: #16363e;//radial-gradient(#172833 0%, #172833 50%, #315169 100%);
          box-shadow: 2px 2px 5px rgba(0,0,0,.5);

          .tool-settings--slider--rail--knob--label {
            display: none;
            position: absolute;
            bottom: 2.3em;
            left: 50%;
            transform: translateX(-50%);
            padding: .25em 1em;
            background: #333;
            white-space: nowrap;
            color: #fff;
            border: solid 1px #aaa;
            border-radius: 3px;

            &::before {
              content: "";
              position: absolute;
              bottom: -24px;
              left: 50%;
              transform: translateX(-50%);
              border: solid 12px transparent;
              border-top-color: #aaa;
            }

            &::after {
              content: "";
              position: absolute;
              bottom: -23px;
              left: 50%;
              transform: translateX(-50%);
              border: solid 12px transparent;
              border-top-color: #333;
            }
          }
        }
      }
    }
  }

  .windows {
    display: none;
    z-index: 400;
  }

  .splash {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 450;

    width: 100%;
    height: 100%;
    max-width: 640px;
    max-height: 480px;

    border: solid 1px #333;
    border-radius: 5px;
    background: #0d656d;

    box-shadow: 5px 5px 5px rgba(0,0,0,.5);

    img {
      width: 150px;
      margin: 1em;
    }
  }

  .alerts {
    display: none;
    z-index: 500;
  }

  .menus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $menu--height;
    z-index: 601;

    background: $color--menus;

    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);

    .menus--items {
      height: $menu--height;

      list-style: none;
      margin: 0;
      padding: 0;

      .menus--items--item {
        position: relative;
        display: inline-block;
        line-height: $menu--height;
        padding: 0 .5em;
        font-size: .8em;

        &:hover {
          background: $color--menus_hover;
        }

        &.menus--items--item_push-right {
          float: right;

          .menus--items--item--submenu {
            left: unset;
            right: 0;

            text-align: right;
          }
        }

        .menus--items--item--image {
          height: 10px;
        }

        .menus--items--item--submenu {
          display: none;
          position: absolute;
          top: $menu--height;
          left: 0;
          list-style: none;

          padding: 0;
          margin: 0;
          background: $color--menus;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);

          .menus--items--item--submenu--item {
            position: relative;
            padding: .25em 2em .25em 1em;
            margin: 0;
            white-space: nowrap;

            &:hover {
              background: $color--menus_hover;
            }

            &.menus--items--item--submenu--item_separator {
              border-top: solid 1px #aaa;
              padding: 0;
              margin: .5em;
              box-shadow: -1px -1px 1px rgba(0,0,0,.5);
            }

            &.menus--items--item--submenu--item_group {
              padding: 0;
              margin: .5em 0 0 .5em;
              font-size: 0.8em;

              &:hover {
                background: transparent;
              }
            }

            &.menus--items--item--submenu--item_disabled {
              color: rgba(150, 150, 150, .5);

              input {
                opacity: .5;
              }
            }

            &.menus--items--item--submenu--item_has-submenu::before {
              content: '';
              display: block;
              position: absolute;
              top: 50%;
              right: .25em;
              transform: translateY(-50%);
              width: 0;
              height: 0;
              border: 5px solid transparent;
              border-left-color: #fff;
            }

            .menus--items--item--submenu--item--checkbox,
            .menus--items--item--submenu--item--radio {
              position: absolute;
              right: .5em;
              top: 50%;
              transform: translateY(-50%);
              border: solid 1px #fff;
              background: transparent;
              margin: 0;
            }

            .menus--items--item--submenu {
              top: 5px;
              left: 100%;
            }
          }
        }
      }
    }
  }

  .status-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $status-bar--height;
    z-index: 600;

    background: $color--menus;

    .status-bar--items {
      list-style: none;
      height: $menu--height;
      margin: 0;
      padding: 0;
      font-size: .8em;

      .status-bar--items--item {
        display: inline-block;
        line-height: $status-bar--height;
        padding: 0 .5em;

        border-left: 1px solid #aaa;

        &:first-child {
          border-left: none;
        }

        &.status-bar--items--item_push-right {
          float: right;
          border: none;
        }
      }
    }
  }

  .is-draggable {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .is-zoomable {
    cursor: zoom-in;

    &.is-zoomable_out {
      cursor: zoom-out;
    }
  }

  .is-brushable {
    cursor: crosshair;
  }

  .helpers {
    display: none;
    position: absolute;
    left: 1em;
    top: 1em;
    z-index: 1000000;
    border: #f0f;
  }
}